[Desktop Entry]
Name=Moai
X-KDE-PluginInfo-Name=Moai
X-KDE-PluginInfo-Author=Fabián Alexis // original photo by gregpoo
X-KDE-PluginInfo-Email=fabian.alexis@openmailbox.org
X-KDE-PluginInfo-License=CC BY-SA 3.0
