[Desktop Entry]
Name=Torres del Paine
X-KDE-PluginInfo-Name=Torres
X-KDE-PluginInfo-Author=Fabián Alexis // original photo by Miguel Vieira
X-KDE-PluginInfo-Email=fabian.alexis@openmailbox.org
X-KDE-PluginInfo-License=CC BY-SA 3.0
